<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to International House! We are really glad that you chose us!</h1>

  <h2>Please fill in your details below and wait for Admissions to get back to you :</h2>

  <form method="POST" action="/add_new_applicants">
      <p>Name: <input type="text" name="name" required></p>
      <p>Citizenship: <input type="text" name="citizenship" required></p>
      <p>Passport Number: <input type="text" name="passport_number" required></p>
      <p>Date of Birth: <input type="date" id="date_of_birth" name="date_of_birth" value={{todays_date}} min="1900-01-01" max={{todays_date}} required></p>
      <p>Gender: <input list="gender" name="gender" required>
          <datalist id="gender">
          <option value="Male">
          <option value="Female">
      </datalist>
      </p>
      <p>Room Preference: <input list="room_preference" name="room_preference" required>
          <datalist id="room_preference">
          <option value="with sink">
          <option value="without sink">
      </datalist>
      </p>
      <p>Start Date: <input type="date" id="start_date" name="start_date" value={{todays_date}} min={{todays_date}} required></p>
      <p>End Date: <input type="date" id="end_date" name="end_date" value={{todays_date}} min={{todays_date}} required></p>
      <p><input type="submit" value="Submit"></p>
  </form>

</body>

</html>
